<div id="wrapper">

  <ul class="nav">
    <li class="nav-item">
      <a href="/" class="nav-link navbar-brand active">Scraped News Home</a>
    </li>
    <li class="nav-item">
      <a href="/saved" class="nav-link">Saved Articles Go Here</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary btn-lg deleteAllButton" role="button">Delete All Button</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary btn-lg scrapebutton" role="button" data-toggle="modal" data-target="#scraperModal">SCRAPE BUTTON</a>
    </li>

    <div class="modal fade" id="scraperModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">New Articles Added

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn closebutton" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ul>

  <div class="jumbotron">
    <p class="display-4">Scraped News</p>
    <p class="lead">My Edition</p>
    <hr class="my-4">
    <p class="lead">

    </p>
  </div>

  <div class="articles">
    {{#if article}} {{#each article}}

    <div class="eacharticle">

      <div class="text">
        <a class="titleinsert" href="https://www.huffpost.com/impact/business/{{this.link}}" target="_blank">{{this.title}}
          <h6 class="summaryinsert"><em>{{this.summary}}</em></h6>
      </div>
      
      <div class="LAimg">
        <img class="LApic" src="{{this.image}}">
      </div>
      </a>

      <br>
      <button type="button" class="btn btn-success saveButton" data-id={{this._id}}>Save</button>
      <button type="button" class="btn btn-success deleteButton" data-id={{this._id}}>Delete</button>
    </div>

  </div>

  {{/each}} {{else}}

  <div class="noArticles">
    There aren't any new articles.
  </div>
  {{/if}}

</div>