<div id="wrapper">

  <ul class="nav">
    <li class="nav-item">
      <a href="/" class="nav-link navbar-brand">Scraped News Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active">Saved Articles Link</a>
    </li>
  </ul>

  <div class="jumbotron">
    <h1 class="display-4">Scraped News</h1>
    <p class="lead">My Edition</p>
    <hr class="my-4">
    <p class="lead">

    </p>
  </div>


  <div class="articles">
    {{#if article}} {{#each article}}

    <div class="eacharticle">
      <div class="text">
        <a class="titleinsert" href="https://scrapedNewsWebAddress/{{this.link}}" target="_blank">{{this.title}}
          <h6 class="summaryinsert">{{this.summary}}</h6>
      </div>
      <div class="dodoimg">
        <img src="{{this.image}}">
      </div>
      </a>

      <br>
      <button type="button" class="btn btn-success notesButton" data-id={{this._id}} data-toggle="modal" data-target="#notesModal{{this._id}}">Article Audience Notes</button>
      <button type="button" class="btn btn-success deleteArticleButton" data-id={{this._id}}>Delete From Saved</button>
    </div>
  </div>

  {{/each}} {{else}}

  <div class="noArticles">
    There aren't any saved articles.
    <br> Browse available articles?
    <br>
    <a href="/">
      <button type="button" class="btn btn-success browseArticles">
        Browse Button
      </button>
    </a>
  </div>

  {{/if}}

</div>

{{#each article}} {{> notes }} {{/each}}